/* =========================================================================================*/
/*                                                                                          */
/*      EZ Closet UI version v1.0                                                           */
/*      CSS Document by Cédric Ricci                                                        */
/*      (c) Beextend 2015 - www.beextend.fr                                                 */
/*                                                                                          */
/* =========================================================================================*/

html, body {
    height: 100%;
}

.w300 { font-weight: 300; }
.w400 { font-weight: 400; }
.w500 { font-weight: 500; }
.w700 { font-weight: 700; }

.hidden { display: none; }

/**  - LOGIN CONTAINER -  **/

.loginContainer {
    width: 100%;
    height: 100%;
    display: flex;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    z-index: 100;
}

.loginLeftCol, .loginRightCol {
    flex: 1;
    width: 50%;
    z-index: 0;
    position: relative;
}

.loginLeftCol {
    justify-content: center;
    align-items: flex-end;
    display: inline-flex;
}

.loginRightCol {
    background: white;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}

.loginLogoContainer {
    background-color: #231f20;
    padding: 30px;
    display: inline-block;
    margin-left:7%;
}

.loginLogoContainer img {
    max-width: 250px;
}

.loginPanel {
    text-align: left;
    max-width: 250px;
}

.newAccountPanel {
    text-align: left;
    width: 300px;
    border-left: 1px solid grey;
    padding-left: 50px;
    margin-left: 50px;
}

.loginPanel h1,
.newAccountPanel h1 {
    font-size: 30px;
    font-weight: 300;
    line-height: 1;
    color: black;
    padding-bottom: 0!important;
    margin-bottom: 0!important;
}

.loginPanel p,
.newAccountPanel p {
    font-size: 14px;
    font-weight: 300;
    line-height: 2;
    color: #757576;
    min-height: 60px;
}


/**  - PROJECTS CONTAINER -  **/

#myProjects button {
	padding:0 20px;	
}

#openBtn {
	margin:-6px 5px 0 0;
}

#openBtn i {
	color: black;
}

#deleteBtn {
	margin:-6px 0 0 0;
}

#deleteBtn i {
	color: black;	
}

#addCartBtn {
	margin:-6px 5px 0 0;
}

#addCartBtn i {
	color: white;
}

#removeCartBtn {
	margin:-6px 5px 0 0;
}

#removeCartBtn i {
	color: white;
}


/**  - HOME CONTAINER -  **/

.homeContainer {
    width: 1920px;
    height: 100%;
    display: flex;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    z-index: 10;
}

.homeMainContainer {
    width: 100%;
    max-height: 768px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top:5%;
    margin-left:7%;
    margin-right:7%;
    z-index: 100;
}

.homeMainCol1, .homeMainCol2, .homeMainCol3 {
    height: 648px;
    position:relative;
    flex-direction: row;
}

.homeMainCol1 h1 {
    font-size: 72px;
    color: white;
    font-weight: 300;
    margin: -17px 0 30px 0;
    padding: 0;
}

.adminPanel {
    position: absolute;
    bottom:0; 
}

.adminPanel h2 {
    display: block;
    font-size: 24px;
    color: white;
    font-weight: 400;
    margin: 0 0 40px 0;
    padding: 0;
    width: 340px;
    line-height: 1.2;
}

.adminPanelBtn {
    display: block;
    border-radius: 2px;
    background-color: #1d1d1d;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25),0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    padding: 0 20px 0 30px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 10px;
    height: 55px;
    line-height: 55px;
}

.adminPanelBtn:hover {
    background-color: #a72042; 
}

.adminPanelBtn span {
    float: left;
}

.adminPanelBtn i {
    float: right;
    margin-top: 15px;
}

.homeContainerFooter {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    z-index: 10;
    padding: 0;
    margin: 0;
}

.cardListUl {
    margin: 0;
    padding: 0 0 0 25px;
    list-style-image: url(../img/list_image_closet.png);
}

.cardListUl a { text-decoration: none; }
.cardListUl a:hover { color: #3f51b5; }

/* Card NEW */

.new-card-wide.mdl-card {
    width: 512px;
}
.new-card-wide > .mdl-card__title {
    color: #fff;
    height: 150px;
    background: url('../img/card_new_bg.jpg') center / cover;
}
.new-card-wide > .mdl-card__menu {
    color: #fff;
}

/* Card RECENT PROJECTS */

.recentprojects-card-wide.mdl-card {
    width: 512px;
}
.recentprojects-card-wide > .mdl-card__title {
    color: #fff;
    height: 60px;
    background-color: #3f51b5;
}
.recentprojects-card-wide > .mdl-card__menu {
    color: #fff;
}

/* Card NEW FROM TEMPLATE */

.newfromtemplate-card-wide.mdl-card {
    width: 710px;
}
.newfromtemplate-card-wide > .mdl-card__title {
    color: #fff;
    height: 150px;
    background: url('../img/card_new_from_template_bg.jpg') center / cover;
}
.newfromtemplate-card-wide > .mdl-card__menu {
    color: #fff;
}

/* Card ACCOUNT */

.account-card-wide.mdl-card {
    width: 340px;
}
.account-card-wide > .mdl-card__title {
    color: #fff;
    height: 170px;
    background: #a72042;
}
.account-card-wide > .mdl-card__menu {
    color: #fff;
}

/* Template Thumbnails */

.templateThumb {
    background-color: white;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25),0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    padding: 20px 10px;
    margin: 15px;
    display: inline-block;
}

.templateThumb:hover {
    background-color: #f0f0f0;
}


/* Templates Slider */

.templates { 
    position: relative; 
    overflow: auto;
    margin: 20px 0 0 0;
    padding: 0;
    text-align: center;
    width:100%;
}

.templates ul {
    float: left;
    padding: 0;
    margin: 0;
}

.templates ul li {
    float: left;
    min-height: 411px;    
}
    
.templates li {
    list-style: none;
}

.templates .dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    text-align: center;
    padding: 0;
    margin: 0;
}

.templates .dots li {
    background: #d6d6d6;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    text-indent: -999em;
    border-radius: 40px;
    cursor: pointer;
    opacity: .4;
    -webkit-transition: background .5s, opacity .5s;
    -moz-transition: background .5s, opacity .5s;
    transition: background .5s, opacity .5s;
}

.templates .dots li.active {
    background: #231f20;
    opacity: 1;
}

/**  - EZ CLOSET UI -  **/

.interface {
//    width: 100%;
//    height: 100%;
    display: flex;
//    position: absolute;
//    top:0;
//    left:0;
    z-index:10;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.scene3d {
    width: 100%;
    height: 100%;
    display: flex;
    /*background-image: url(../img/3d_space.png);*/
    background-size: 100% 100%;
    border-bottom: 1px solid #dfdfdf;
    position: absolute;
   	bottom: 0!important;
    left:0;
    z-index:0;
}

/* Dialogue */

.dialogContainer {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.dialogBoxLogin, .dialogBoxMessage, .dialogBoxNomenclature, .dialogBoxSave {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    background-color: white;
    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.3);   
    overflow:hidden;
    z-index: 1000;
}

.dialogBoxLogin h1, .dialogBoxMessage h1, .dialogBoxNomenclature h1, .dialogBoxSave h1 {
    padding: 0 0 25px 0;
    font-size: 26px;
    font-weight: 300;
    color: #000000;
    line-height: 1.4;
    margin-top: 0!important;
}

.dialogBoxLogin h2, .dialogBoxMessage h2, .dialogBoxNomenclature h2, .dialogBoxSave h2 {
    padding: 0 0 0 0;
    font-size: 20px;
    font-weight: 300;
    color: #000000;
    line-height: 1.4;
}

.dialogBoxLogin h3, .dialogBoxMessage h3, .dialogBoxNomenclature h3, .dialogBoxSave h3 {
    padding: 0 0 0 0;
    font-size: 16px;
    font-weight: 300;
    color: #000000;
    line-height: 1.4;
}

.dialogBoxMessage p, .dialogBoxNomenclature p {
    padding: 25px 25px 20px 25px;
    font-size: 16px;
    color: #777777;
    line-height: 1.4;
}

.dialogBoxLogin p {
    padding: 10px 0 10px 0;
    font-size: 16px;
    color: #777777;
    line-height: 1.4;
    margin-bottom: 0!important;
}

.dialogBoxSave p {
    padding: 25px 0 20px 0;
    font-size: 16px;
    color: #777777;
    line-height: 1.4;    
}


.dialogBoxLogin i, .dialogBoxMessage i {
    margin-right: 5px;
    color: red;
}

.dialogBoxBtnContainer {
    float: right;
    margin: 0 25px 20px 0;
}

.dialogBoxLogin {

}

.dialogBoxMessage {
    width: 500px;
}

.dialogBoxNomenclature {
    width: 960px;
}

.dialogBoxNomenclature table {
    width: 100%;
}

/* Left Panel */

#leftPanel {
    width: 531px;
    height: 100%;
    position: absolute;
    right: -480px;
    top: 0;
    z-index: 100;
}

.normalIco {
    display: flex;
    align-items:center;
    justify-content: center;
    height: 70px;
    margin: 0 15px;
    border-bottom: 1px solid #393637;
}

.bottomIco {
    display: flex;
    align-items:center;
    justify-content: center;
    height: 70px;
    margin: 0 15px;
    position: absolute;
    bottom: 0;
    left:0;
}

#rightPanel i {
    color: white;
}


/* Right Panel */

#rightPanel {
    width: 70px;
    height: 100%;
    position: absolute;
    left:0;
    top: 0;
    z-index: 100;
}

#rightPanel ul {
    display: flex;
    flex-direction: column;
}

#closetPanelContent, #zonesPanelContent, #accessoriesPanelContent {
    border-left: 1px solid #dfdfdf;
    width: 480px;
    height: 100vh;
    background: #f9f9f9;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    overflow-y: auto;
}

#closetPanelContent {
    display: none;
}

#zonesPanelContent  {
    display: none;
}

#zonesPanelContent .panelTitle {
    margin-top: 70px;
}

#accessoriesPanelContent {
    display: none;
}

#accessoriesPanelContent .panelTitle {
    margin-top: 130px;
}

.multiChoiceBox {
    background: white;
    border: 1px solid #eeeeee;
    width: 330px;
    height: 30vh;
    padding: 25px;
    margin: 15px 0 0 25px;
    overflow-y: auto;
}

.multiChoiceBox ul {
    text-align: left;
}

.multiChoiceBox li {
    width: 100%;
    overflow: hidden;
    display: block;
}

.multiChoiceBox ul li img {
    background: grey;
    width: 64px; height: 64px;
    float: left;
    margin-right: 20px;
}

.multiChoiceBox ul li p {
    height: 64px;
    line-height: 64px;
    float: left;
    margin: 0;
    padding: 0;
}

.horizontalList a {
    width: 100%;
    overflow: hidden;
    display: block;
	margin:5px 0;
	padding:5px;
}

.selectedItem,
.selectedItemToggle {
    font-weight: 600;
    color: white;
	border-radius: 3px;
}

.selectedItem {
	background: rgba(0,0,0, 0.87);
}

.selectedItemToggle {
	background: rgba(0,0,0, 0.87);
	background-image: url(../img/remove_icon.png);
	background-position:92% center;
	background-repeat:no-repeat;
}

.panelTitle {
    color: white;
    font-size: 26px;
    font-weight: 300;
    height: 50px;
    line-height: 50px;
    width: 100%;
    position: relative;
    display: block;
    text-align: left;
}

.insidePanelContainer {
    margin: 30px;
}

.insidePanelContainer label {
    padding: 5px 25px 10px 25px;
    display: block;
    font-size: 20px;
}

.numericField {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    width: 70px;
    background: white;
    border: 1px solid transparent;
    padding: 5px 0;
	color: black;
}

.numericField:disabled {
    opacity: 0.5;
}

.error {
	background: #fff2f2;
	border: 1px solid #ff0000;
}

.tab {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 50px;
    height: 50px;
    position: relative;
    margin-top: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    left:1px;
}

.tab i {
    align-self: center;
}

.tabHr {
    height:1px;
    width: 50%;
    width: 88%;
    margin: 50px auto 30px auto;
    background: rgba(0,0,0,0.3);
}

.divideZonesContainer {
    padding: 15px 25px;
    text-align: center;
    display: flex;
    justify-content:space-between;
}

.divideZonesBtn {
    background: #3F51B5;
    padding: 30px 0px ;
    width: 175px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: white;
    text-transform: uppercase;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 12px;
    font-weight: 500;
    
}

.divideZonesBtn i {
    margin-bottom: 20px;
}


.divideZonesBtn i, .divideZonesBtn span {
    display: block;
    width: 100%;
    text-align: center;
}

.separatorContainer {
    padding: 15px 25px;
    text-align: center;
    display: flex;
    justify-content:space-between;    
}

.separatorBtn {
    background: #F44336;
    text-align: center;
    width: 80px; height: 70px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: white;
    text-transform: uppercase;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 12px;
    font-weight: 500;   
}

.divideZonesBtn:hover, .separatorBtn:hover {
    background: #231f20;
    cursor: pointer;
}

.divideZonesBtn:active, .separatorBtn:active {
    font-size: 10px;
}

.divideZonesBtn:disabled, .separatorBtn:disabled, .autoBtn:disabled, .freeBtn:disabled {
    opacity: 0.1;
    color: rgba(255,255,255,0.8);
    background: black;
}

.autoBtn, .freeBtn {
    text-align: center;
    width: 90px; height: 40px;
    border-radius: 3px;
    border: none;
    outline: none;
    color: white;
    text-transform: uppercase;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 12px;
    font-weight: 500;
    margin-left: 20px;
}

.autoBtn i, .freeBtn i {
    margin-right: 5px;
}

.autoBtn:hover, .freeBtn:hover {
    cursor: pointer;
}

.autoBtn {
    background: #3f51b5;
}

.freeBtn {
    background: #3f51b5;
}

/* ==========  Select Field ========== */

select {
    font-family: inherit;
    background-color: transparent;
    width: 100%;
    padding: 4px 0;
    font-size: 14px;
    font-weight: 700;
    color: #231f20;
    border: none;
    border-bottom: 2px solid #b8b8b8;
}

/* Remove focus */
select:focus {
    outline: none}

/* Hide label 
.mdl-selectfield label {display: none;}
*/
/* Use custom arrow */
.mdl-selectfield select {appearance: none}
.mdl-selectfield {
  font-family: 'Roboto','Helvetica','Arial',sans-serif;
  position: relative;
    &:after {
        position: absolute;
        top: 0.75em;
        right: 0.5em;
        /* Styling the down arrow */
        width: 0;
        height: 0;
        padding: 0;
        content: '';
        border-left: .25em solid transparent;
        border-right: .25em solid transparent;
        border-top: .375em solid $select-border-color;
        pointer-events: none;
    }
}

.finitionCardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 28px;
}

.finitionCard {
    width:108px; 
    height: 136px;
    background: white;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25),0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
}

/*.finitionCard:hover {
    background-color: #231f20;
    color: white;
}*/
.finitionCardSelected
{
    background-color: #231f20;
    color: white;
}

.finitionCard p {
    text-transform: uppercase;
    text-align: center;
    heigh:32px;
    line-height: 32px;
    font-size: 12px;
    font-weight: 500;
}

.finition {
    width:100px; height:100px; margin:4px 4px 0 4px;
}

/* Footer Panel */

#footerPanel {
    width: 100%;
    height: 140px;
    position: absolute;
    left:0;
    bottom: 0;
    z-index: 10;
}

.logoContainer {
    padding: 25px!important;
    display: inline-block;
    position: absolute;
    left:130px;
    top : 0;
	z-index: 10;
	opacity:0.9;
	border-radius: 0 0 5px 5px;
}

.logoContainer img {
    max-width: 200px;
}

#priceContainer {
    padding: 0 15px 0 0;
    height: 70px;
	line-height: 70px;
    position: absolute;
    right:0;
    bottom: 0;
	border-top-left-radius: 10px;
	background: white!important;
	text-align:center;
}

#priceContainer p {
    margin-left: 20px;
}

#priceContainer p,
#priceContainer .nomenclatureBtn {
	display: inline-block!important;
	vertical-align:middle;
}

.titlePrice {
    font-size: 36px;
    font-weight: 300;
    color: #231f20;
	margin:0;
}

.exvatPrice {
    font-size: 36px;
    font-weight: 700;
    color: #231f20;
	margin:0;
}

.vatPrice {
    font-size: 16px;
    font-weight: 700;
    color: rgba(0,0,0,0.7);
    height: 50px;
    line-height: 50px;
    text-align: center;
	margin:0;
}

.nomenclatureBtn {
    color: white;
    border-radius: 3px;
    padding: 5px 3px;
    text-align: center;
    margin-left:20px;
	height:35px;
	width:42px;
}

.nomenclatureBtn i {
	line-height: 35px;
	vertical-align: top;
}

.orderBtn {
    position: absolute;
    right: 0;
    bottom: 70px;
	width: 290px;		
}

.orderBtn i {
	margin-right: 5px;
}

.orderBtn a {
    border-radius: 5px 0 0 0;
    padding: 0 25px;
    height: 70px;
    color: white!important;
    font-size: 16px;
    text-transform: uppercase;
    display: block;
}

.orderBtn a:hover {
    background-color: #231f20;
}

.ez-red { color: red }
.ez-green { color: green }


@media screen and (max-width: 1280px) {
    .logoContainer {
        display: none;    
    }
}

@media all and (orientation:portrait) {
	.info {
		background: black;
		display:table;
		position:absolute;
		width: 100%;
		height: 100%;
		top:0;
		left:0;
		z-index: 999999999999999;
		color:white;
		vertical-align:middle;
	}
	.info p {
		display:table-cell;
		text-align:center;
		vertical-align:middle;
		width: 100%;
		height: 100%;
        padding: 30px;
	}	
}	

@media all and (orientation:landscape) {
	.info {
		display:none;
	}	
}