[submodule "OpenJSCAD.org"]
	path = OpenJSCAD.org
	url = https://github.com/Spiritdude/OpenJSCAD.org.git
[submodule "three-dxf"]
	path = three-dxf
	url = https://github.com/gdsestimating/three-dxf.git
[submodule "dxf-parser"]
	path = bower_components/dxf-parser
	url = https://github.com/gdsestimating/dxf-parser.git
